  <div class="container">
    <div class="row mt-5">
        <div *ngFor="let i of info" class="col-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar [style]="i.avatar"></div>
                  <mat-card-title>{{i.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{i.tipo}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="i.imagen" style="height: 100xp; width: 20xp;" alt="Photo of a Shiba Inu" height="250%" width="100%">
                <mat-card-content>
                  <p>
                    {{i.caracteristicas}}
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
