.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
 .mat-card-image{
   height: 200px;
   width: 356px;
    }
  .mat-card{
    margin-top: 10px;
    margin-bottom: 10px;
  }